
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  
  
  
  
}

.box{
border: 2px solid black;
width: 800px;
height: 150px;
text-align: center;
margin: 5px;
background-color: dimgrey;
box-shadow: 5px 5px 5px black
}